 @{
     var user = ViewData["UsersList"];
     var product = ViewData["ProductsList"];
 }
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="row" style=" margin: 10%;padding-left: 0px;">
    <a style="text-decoration: none;color: black;" class="card col-5 shadow p-3 mb-5 bg-white rounded" asp-action="Userdata">
        <div class="card-title" style="font-size: 29px;">Customers</div>
        <div class="card-body">
            <p style="font-weight: bold;font-size: 80px;">

@user <span class="material-symbols-outlined"></span></p>
        </div>
    </a>

    <div class="col-1"></div>
    <a style="text-decoration: none;color: black;" class="card col-5 shadow p-3 mb-5 bg-white rounded" asp-action="List">
        <div class="card-title" style="font-size: 29px;">Products</div>
        <div class="card-body">
            <p style="font-weight: bold;font-size: 80px;">@product</p>
        </div>
    </a>
</div>