@model DomainLayer.ForgotPassword
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/User/WithoutNav.cshtml";
    var userEmail = ViewData["User"] as DomainLayer.Registration;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    

<head>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');

        *, ::after, ::before {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .simple-form {
            min-width: 350px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .simple-form-content {
            background-color: #252525;
            border-radius: 10px;
            padding: 2rem;
            width: 100%;
            height: 100%;
            font-family: 'Poppins', sans-serif;
        }

        .simple-form .title {
            color: #fafafa;
            text-transform: capitalize;
            text-align: center;
            margin-bottom: 1rem;
        }

        .col {
            color: steelblue;
        }

        .simple-form .form > * {
            display: block;
            margin-bottom: 1rem;
        }

        .simple-form .form input {
            background-color: transparent;
            color: #fafafa;
            padding: .5rem 0;
            font-weight: bold;
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid #fafafa;
            text-indent: 2px;
            caret-color: #42a9c1;
        }

            .simple-form .form input:focus {
                border-color: #42a9c1;
            }

                .simple-form .form input:focus::placeholder {
                    opacity: 0;
                }

            .simple-form .form input::placeholder {
                text-transform: capitalize;
                color: #a3a3a3;
                font-weight: bold;
                font-size: 12px;
                transition: opacity .2s;
            }

        .simple-form .form .toggle-show {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        .simple-form .form .toggle-show {
            width: 15px;
            height: 15px;
            cursor: pointer;
        }

        .simple-form .btn-submit {
            text-transform: capitalize;
            padding: .6rem 1.5rem;
            border-radius: 4px;
            color: #fafafa;
            font-weight: bold;
            border: none;
            cursor: pointer;
            background-color: #42a9c1;
        }

        /* Start Animate Border */
        .animate-border {
            position: absolute;
            z-index: -1;
            width: calc(100% + 6px);
            height: calc(100% + 6px);
            border-radius: 10px;
            overflow: hidden;
            top: -3px;
            left: -3px;
            z-index: -111;
        }

            .animate-border::before {
                content: "";
                position: absolute;
                left: -50%;
                top: -50%;
                width: 200%;
                height: 200%;
                background-repeat: no-repeat;
                background-size: 50% 50%;
                background-position: top left;
                background-image: linear-gradient(to right, transparent 10%, rgb(57 153 83 / 5%) 10%, rgb(57 153 83 / 15%) 20%,rgb(57 153 83 / 20%), #42a9c1);
                animation: animate-border 3s linear infinite;
            }

        @@keyframes animate-border {
            to {
                transform: rotate(360deg);
            }
        }
    </style>
</head>


<section class="simple-form " style=" margin-top: -100px; margin-left: -40px;">
    <div class="animate-border"></div>
    <div class="simple-form-content" style="width: 353px;">
        @if (Model != null)
        {

            @if (Model?.emailSent == true)
            {
                <div class="alert alert-success" role="alert" style="background-color: transparent; color: #42a9c1;">
                    <p>We have sent an email to your registered email id</p>
                </div>
            }

            else
            {
                <div>
                    <h3 class="text-center title">Forgot Password</h3>
                    <form id="ForgotPasswordForm" method="post" asp-action="ForgotPassword">
                        <div class="form-group">
                            <div class="input-group" style=" margin-bottom: 26px;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input class="form-control" type="text" asp-for="email" id="logEmail" placeholder="Email" />
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="btn btn-info form-control" style="background-color: #0a8199" type="submit" value="Submit" />
                            </div>
                        </div>
                    </form>
                    <div class="col">
                        <a style="cursor:pointer; color:unset;" asp-action="Login">Back to Login</a>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" style="background-color: transparent;">
                    <p style="color: #d70d20;">Sorry! This email id is not registered with us.</p>
                </div>
            }
        }
        else
        {
            <div>
                <h3 class="text-center title">Forgot Password</h3>
                <form id="ForgotPasswordForm" method="post" asp-action="ForgotPassword">
                    <div class="form-group">
                        <div class="input-group" style=" margin-bottom: 26px;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input class="form-control" type="text" asp-for="email" id="logEmail" placeholder="Email" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="btn btn-info form-control" style="background-color: #0a8199" type="submit" value="Submit" />
                        </div>
                    </div>
                </form>
                <div class="col">
                    <a style="cursor:pointer; color:unset;" asp-action="Login">Back to Login</a>
                </div>
            </div>
        }
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
